<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="connectionString" value="Data Source=wpl22.hosting.reg.ru;Initial Catalog=u0790449_BurovAV;Persist Security Info=True;User ID=u0790449_BurovAV;Password=Freedom88"/>
  </appSettings>
</configuration>